In [7]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("Habits.db")
cursor = conn.cursor()

In [12]:
df = pd.read_sql_query("SELECT * FROM Repetitions", conn)

In [14]:
df['value'] = 0

In [15]:
df

      id  habit      timestamp  value notes
0     67     12  1738540800000      0
1     73     12  1738368000000      0
2     75     12  1738281600000      0
3    102     16  1738800000000      0
4    105      8  1738454400000      0
..   ...    ...            ...    ...   ...
135  298     14  1743033600000      0
136  299     15  1743033600000      0
137  300      8  1743033600000      0
138  303     23  1743811200000      0
139  305     23  1743638400000      0

[140 rows x 5 columns]

In [16]:
df.to_sql("Repetitions", conn, if_exists="replace", index=False)

140