In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('world_happiness_report.csv')

In [3]:
df.head()

,Country,Year,Happiness_Score,GDP_per_Capita,Social_Support,Healthy_Life_Expectancy,Freedom,Generosity,Corruption_Perception,Unemployment_Rate,...,Public_Trust,Mental_Health_Index,Income_Inequality,Public_Health_Expenditure,Climate_Index,Work_Life_Balance,Internet_Access,Crime_Rate,Political_Stability,Employment_Rate
0,China,2022,4.39,44984.68,0.53,71.11,0.41,-0.05,0.83,14.98,...,0.34,76.44,46.06,8.92,62.75,8.59,74.40,70.30,0.29,61.38
1,UK,2015,5.49,30814.59,0.93,63.14,0.89,0.04,0.84,19.46,...,0.72,53.38,46.43,4.43,53.11,8.76,91.74,73.32,0.76,80.18
2,Brazil,2009,4.65,39214.84,0.03,62.36,0.01,0.16,0.59,16.68,...,0.23,82.40,31.03,3.78,33.30,6.06,71.80,28.99,0.94,72.65
3,France,2019,5.20,30655.75,0.77,78.94,0.98,0.25,0.63,2.64,...,0.68,46.87,57.65,4.43,90.59,6.36,86.16,45.76,0.48,55.14
4,China,2022,7.28,30016.87,0.05,50.33,0.62,0.18,0.92,7.70,...,0.50,60.38,28.54,7.66,59.33,3.00,71.10,65.67,0.12,51.55

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    4000 non-null   object
 1   Year                       4000 non-null   int64
 2   Happiness_Score            4000 non-null   float64
 3   GDP_per_Capita             4000 non-null   float64
 4   Social_Support             4000 non-null   float64
 5   Healthy_Life_Expectancy    4000 non-null   float64
 6   Freedom                    4000 non-null   float64
 7   Generosity                 4000 non-null   float64
 8   Corruption_Perception      4000 non-null   float64
 9   Unemployment_Rate          4000 non-null   float64
 10  Education_Index            4000 non-null   float64
 11  Population                 4000 non-null   int64
 12  Urbanization_Rate          4000 non-null   float64
 13  Life_Satisfaction          4000 non-null   float64
 14  Public_Trust               4000 non-null   float64
 15  Mental_Health_Index        4000 non-null   float64
 16  Income_Inequality          4000 non-null   float64
 17  Public_Health_Expenditure  4000 non-null   float64
 18  Climate_Index              4000 non-null   float64
 19  Work_Life_Balance          4000 non-null   float64
 20  Internet_Access            4000 non-null   float64
 21  Crime_Rate                 4000 non-null   float64
 22  Political_Stability        4000 non-null   float64
 23  Employment_Rate            4000 non-null   float64
dtypes: float64(21), int64(2), object(1)
memory usage: 750.1+ KB

In [7]:
df['Year'].unique().shape

(20,)

In [8]:
df['Country'].unique().shape

(10,)

In [23]:
df.loc[(df['Country'] == 'USA') & (df['Year'] == 2020), 'Happiness_Score']

21      4.93
144     6.03
164     7.78
276     7.04
871     3.96
1068    4.84
1124    3.28
1172    3.28
1275    6.85
1767    5.10
2004    7.78
2212    4.25
2221    7.79
2454    3.22
2474    4.75
2989    5.67
3041    6.63
3096    3.22
3168    5.67
3381    5.69
3430    6.96
3593    3.17
3816    4.66
3833    3.97
Name: Happiness_Score, dtype: float64