In [1]:
import pandas as pd

In [85]:
scores = pd.read_parquet('data/initial_scores.parquet')
movies = pd.read_parquet('data/movies.parquet')
pagerank = pd.read_parquet('data/pagerank_scores.parquet')

In [77]:
scores.sort_values('ratingScore', ascending=False, inplace=True)

In [78]:
scores

               id  ratingScore  genreScore
2267    tt0903747    18.092698         4.0
0       tt0111161    17.175135         4.0
7592    tt0944947    16.717677         4.0
1       tt0068646    16.716673         4.0
4206    tt0185906    16.480664         4.0
...           ...          ...         ...
27216  tt13423846    -6.774116         4.0
11997   tt0270846    -6.839059         4.0
18438  tt14723224    -7.219231         4.0
25401  tt10888594    -7.556373         4.0
8695    tt6038600    -7.667549         4.0

[33317 rows x 3 columns]

In [81]:
x = movies.merge(scores[scores['ratingScore']!=5.0], on='id')[['id', 'title', 'ratingScore', 'genreScore', 'ratingCount', 'rating']]
x['totalScore'] = x['ratingScore'] + x['genreScore']
x.sort_values('totalScore', ascending=False, inplace=True)

In [82]:
x

,id,title,ratingScore,genreScore,ratingCount,rating,totalScore
2267,tt0903747,Breaking Bad,18.092698,4.0,2282060,9.5,22.092698
0,tt0111161,The Shawshank Redemption,17.175135,4.0,3006023,9.3,21.175135
7592,tt0944947,Game of Thrones,16.717677,4.0,2400431,9.2,20.717677
1,tt0068646,The Godfather,16.716673,4.0,2097855,9.2,20.716673
4206,tt0185906,Band of Brothers,16.480664,4.0,554267,9.4,20.480664
...,...,...,...,...,...,...,...
27216,tt13423846,321 Action,-6.774116,4.0,10235,1.0,-2.774116
11997,tt0270846,Superbabies: Baby Geniuses 2,-6.839059,4.0,31876,1.5,-2.839059
18438,tt14723224,The Cost of Deception,-7.219231,4.0,40709,1.5,-3.219231
25401,tt10888594,Radhe,-7.556373,4.0,180439,1.8,-3.556373
8695,tt6038600,Smolensk,-7.667549,4.0,40264,1.2,-3.667549

In [64]:
scores['ratingScore'].median()

np.float64(1.6182926537118616)

In [63]:
scores['ratingScore'].mean()

np.float64(2.3702972744250292)

In [38]:
scores['ratingScore'].max()

np.float64(18.092698395796525)

In [39]:
scores['ratingScore'].min()

np.float64(-7.667549170601277)

In [50]:
scores2 = movies[['id']].copy()
movies['genres'] = movies['genres'].str.split(':,:')

In [83]:
scores.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33317 entries, 2267 to 8695
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           33317 non-null  object
 1   ratingScore  33317 non-null  float64
 2   genreScore   33317 non-null  float64
dtypes: float64(2), object(1)
memory usage: 1.0+ MB

In [86]:
pagerank.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33317 entries, 32246 to 26249
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        33317 non-null  object
 1   pagerank  33317 non-null  float64
dtypes: float64(1), object(1)
memory usage: 780.9+ KB

In [87]:
pagerank.sort_values('pagerank', ascending=False, inplace=True)

In [90]:
movie = pd.merge(pagerank, movies, on='id')[['id', 'title', 'pagerank']]

In [92]:
movie.sort_values('pagerank', ascending=False, inplace=True)

In [93]:
movie

               id                           title  pagerank
0       tt0137523                      Fight Club  0.000933
1       tt0109830                    Forrest Gump  0.000890
2       tt1375666                       Inception  0.000793
3       tt0110912                    Pulp Fiction  0.000746
4       tt0468569                 The Dark Knight  0.000652
...           ...                             ...       ...
33311  tt21423436  Poong, the Joseon Psychiatrist  0.000005
33313   tt0086373                    Strange Brew  0.000005
33314   tt0221718                    Wrong Number  0.000005
33315   tt0043920                         Pier 23  0.000005
33316   tt0051871            Live Fast, Die Young  0.000005

[33317 rows x 3 columns]